@model CafeSingleton.Models.HomeIndexVM
<br /><div class="panel panel-default">
    <div class="panel-body">
        <div style="text-align:center">
            <h2>Featured Cafe</h2>
            <h2>@Model.FeaturedCafe.CafeName</h2>
            <h4>- @Model.FeaturedCafe.City</h4>
        </div>
    </div>
</div>
<table class="table table-condensed table-striped table-responsive table-hover">
    <tr><th>Name</th><th>City</th><th>Average Rating</th></tr>
    @foreach (var c in Model.Cafes)
    {
        <tr onclick="location.href='/Home/Details/@c.ID'">
            <td>@c.CafeName</td>
            <td>@c.City</td>
            <td>@c.AvgRating</td>
        </tr>
    }
</table>